@import "./nav@media.scss";

.container-nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #242424;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: all 0.5s ease-in-out;

  .container-mainIfo {
    margin: 0 20px 0 40px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    transition: all 0.5s ease-in-out;

    img {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
      width: 100px;
      height: 100px;
      border-radius: 50px;
      transition: all 0.5s ease-in-out;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1;
      transition: all 0.5s ease-in-out;

      .name {
        font-family: "Bruno Ace SC", cursive;
        margin: 0;
        color: #2b97fa;
        transition: all 0.5s ease-in-out;
      }

      @keyframes typing {
        from {
          width: 0;
        }
      }

      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }

      .position {
        white-space: nowrap;
        border-right: 4px solid;
        width: 18ch;
        color: whitesmoke;
        font-family: "Bruno Ace SC", cursive;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        overflow: hidden;
        animation: typing 4s steps(20) infinite alternate,
          blink 0.5s infinite step-end alternate;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .menu-options {
    width: 60%;
    margin: 0 40px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    z-index: 10;

    ol {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      gap: 10px;

      a {
        color: rgba(255, 255, 255, 0.637);
        height: 60%;
        background: transparent;
        padding: 0px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        position: relative;
      }

      .active {
        color: white;
        transform: scale(1);
        box-shadow: 0px 5px 25px #2b96facb;
        transition: all 0.3s;
      }

      .led-effect:hover {
        color: white;
        transform: scale(1);
        box-shadow: 0px 5px 25px #2b96facb;
        transition: all 0.3s;
      }
    }
  }

  .second-menu-options {
    transform: translateX(1000px);
    visibility: hidden;
    opacity: 0;
    width: 25%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    background-color: #1d1d1d;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 10000;
    box-shadow: 0px 0px 8px 100vmax rgba(0, 0, 0, 0.596);
    transition: all .5s ease-in-out;

    .btn-close-second-menu {
      width: 40px;
      height: 40px;
      font-size: 24px;
      background-color: transparent;
      border: none;
      text-shadow: 0px 2px 8px #2b96fa;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    .btn-close-second-menu:hover {
      transform: scale(1.1);
    }

    ol {
      width: 100%;
      padding: 0;
      margin: 80px 0 0;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      gap: 30px;

      a {
        color: rgba(255, 255, 255, 0.486);
        font-family: "Bruno Ace SC", cursive;
        border-bottom: 1px solid #2b96facb;
        width: 90%;
        height: 50px;
        padding: 0 10px 0 0;
        font-size: 20px;
        text-align: end;
        transition: all .3s ease-in;
      }

      a:hover{
        box-shadow: 0 0 10px 2px #2b96fa;
        border: none;
        border-radius: 10px;
      }

      .active {
        color: white;
        box-shadow: 0 0 10px 2px #2b96fa;
        border: none;
        border-radius: 10px;
      }
    }
  }

  .open {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }

  .container-button-bar {
    transform: translateX(120px);
    transition: all 1s ease-in;
    position: absolute;
    right: 0;
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px 0;

    .btn-bar {
      cursor: pointer;
      width: 50px;
      height: 50px;
      padding: 0;
      background-color: transparent;
      border: none;
      border-radius: 50%;
      transition: all 1s ease-in-out;

      img {
        width: 100%;
        filter: drop-shadow(0px 0px 8px #2b96facb);
      }
    }

    .btn-bar :hover {
      transform: scale(1.1);
      filter: drop-shadow(0px 0px 10px #2b96fa);
    }
  }
}

.smallNav {
  height: 10vh !important;
  background: #1d1d1d;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .container-mainIfo {
    margin: 0 20px 0 20px;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    img {
      width: 40px !important;
      height: 40px !important;
      border-radius: 5px;
    }

    .info {
      .name {
        font-size: 16px !important;
      }
      .position {
        font-size: 9px;
      }
    }
  }

  .menu-options {
    transform: translateY(-120px);
    position: absolute;
    right: 0;
  }

  .second-menu-options {
    transform: translateX(1000px);
    visibility: hidden;
    opacity: 0;
    width: 25%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    background-color: #1d1d1d;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 10000;
    box-shadow: 0px 0px 8px 100vmax rgba(0, 0, 0, 0.596);
    transition: all .5s ease-in-out;

    .btn-close-second-menu {
      width: 40px;
      height: 40px;
      font-size: 24px;
      background-color: transparent;
      border: none;
      text-shadow: 0px 2px 8px #2b96fa;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    .btn-close-second-menu:hover {
      transform: scale(1.1);
    }

    ol {
      width: 100%;
      padding: 0;
      margin: 80px 0 0;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      gap: 30px;

      a {
        color: rgba(255, 255, 255, 0.486);
        font-family: "Bruno Ace SC", cursive;
        border-bottom: 1px solid #2b96facb;
        width: 90%;
        height: 50px;
        padding: 0 10px 0 0;
        font-size: 20px;
        text-align: end;
        transition: all .3s ease-in;
      }

      a:hover{
        box-shadow: 0 0 10px 2px #2b96fa;
        border: none;
        border-radius: 10px;
      }

      .active {
        color: white;
        box-shadow: 0 0 10px 2px #2b96fa;
        border: none;
        border-radius: 10px;
      }
    }
  }

  .open {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }

  .container-button-bar {
    display: flex;
    transform: translateX(0px);
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px 0;

    .btn-bar {
      cursor: pointer;
      width: 30px;
      height: 30px;
      padding: 0;
      background-color: transparent;
      border: none;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;

      img {
        width: 100%;
        filter: drop-shadow(0px 0px 8px #2b96facb);
      }
    }

    .btn-bar :hover {
      transform: scale(1.1);
      filter: drop-shadow(0px 0px 10px #2b96fa);
    }
  }
}
